* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  min-width: 1280px;
  height: 100%;
  overflow: auto;
  font-family: "PingFangSC-Regular", "PingFang SC", "PingFangSC-light",
    "Helvetica Neue", "Hiragino Sans GB", Helvetica, "Microsoft YaHei", Arial,
    sans-serif;
  color: #515a6e;
  font-size: 14px;
}
